.ukladstrony {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-content: center;
    border: 1px black solid;
    
  }

.pozycja {
  margin-bottom: 100px;
}